{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>

<style>
  /* width */
  ::-webkit-scrollbar {
      width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
      background: rgb(252, 236, 217);

  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      background: #555;
  }
</style>
<script type="text/javascript">
  $(document).ready(function ($) {
      console.log('print');

      $(document).on('click', '.btn_print', function (event) {
          console.log('print1');
          event.preventDefault();

          //credit : https://ekoopmans.github.io/html2pdf.js

          var element = document.getElementById('whatToPrint');

         
          var opt =
          {
              margin: 1,
              filename: 'recurinvoice' + '.pdf',
              image: { type: 'jpeg', quality: 0.98 },
              html2canvas: { scale: 2 },
              jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
          };

          // New Promise-based usage:
          html2pdf().set(opt).from(element).save();


      });



  });
</script>




<div class="fixed-top  " style="top: 7rem; margin-left: 20rem;">
  <div class="row">
      <div class="col-md-4">
        <div class="card-title">
            <div class="col-md-10 pb-3">
                <a class="text-white" style="font-size: 2rem;">Recurring Invoices </a>      </div>
          
            <div class="row p-0 d-flex">
                <div class="col-md-7">
                    <input type="text"  name="usr_in" id="search" placeholder="Search..." class="form-control text-dark bg-light" autocomplete="off"  >
                </div>

                <!-- <div class="col-md-2 mt-4 mx-1">
                    <a class="btn  btn-outline-warning text-center px-2 py-2 " data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                role="button"><i class="fa fa-filter mx-3"></i>
                </a>
                       
                        <div class="dropdown-menu ">
                            <a class="dropdown-item" href="{% url 'view_recurpage' %}">All</a>
                            <a class="dropdown-item" href="{% url 'profileasc' %}">Profile A-Z</a>
                            <a class="dropdown-item" href="{% url 'profiledesc' %}">Profile Z-A</a>
        
                        </div>
                </div> -->
                <div class="col-md-4 mr-4 mb-5 ">
                    <a style="color: white; background-color: rgb(210, 132, 30); margin-top: 10px;" class="btn mr-1"
                      href="{% url 'create_recur' %}"><i class="fa-solid fa-plus "></i>New</a> 
                </div>
            </div>

        </div>
        <div class="border-bottom"></div>



          <!--  <div class="row  mx-2" id="all">
              <div class="col-md-4 py-2"><a class="text-white" style="font-size: 1.5rem;"> All Recurring Invoices</a></div>
              <div class="col-md-6 form-inline justify-content-end py-2">
                <input type="text" name="usr_in" id="search" placeholder="search here..." autocomplete="off">

                  <a style="color: white; background-color: rgb(210, 132, 30); margin-top: 10px;" class="btn mr-1"
                      href="{% url 'new_recur' %}"><i class="fa-solid fa-plus "></i>New</a> 
                  
              </div>
          </div> -->
          <div class="pt-3" style="height: 600px; overflow-y: scroll;">
              <table class="text-white" style="width: 100%;">
                {% for v in allproduct %}
                  <tr class="clickable-row" data-href="{% url 'viewrecur' v.id %}" id="searching">
                      <td>
                          <div class="row" id="click">
                            <div class="col-md-3">
                                <p>INV-{{v.id}}</p>
                            </div>
                              <div class="col-md-3 text-left">
                                  <h5>{{v.cname}} </h5>
                              </div>
                              <div class="col-md-6 text-right">&nbsp;&nbsp;&nbsp;&#x20B9;{{v.total}}.00</div>
                          </div>
                      </td>
                  </tr>
                  
                  <tr>
                      <td ><hr style="border-top: 1px solid white;"></td>
                  </tr>

                  {% endfor %}
              </table>
             
          </div>
      </div>
      <div class="col-md-8">
          <div class="row  mx-2 py-3" style="background-color: rgba(252, 236, 217, 0.8)">
              <div class="col-md-5 text-dark" style="font-size: 2.5rem;">
                {{product.name}}</div>
              <div class="col-md-7 text-white text-right my-auto">
                  <div class="btn-group" role="group" aria-label="Basic example">
                      <a href="{% url 'edit_recur' product.id %}" class="btn btn-sm text-white"
                          style="background-color:  rgb(86, 86, 85);" data-toggle="tooltip" title="Edit">
                          <i class="fa fa-pencil"></i></a>
                          <a class=" btn btn-sm text-white" href="" onclick="printSelectedArea()"style="background-color:  rgb(86, 86, 85);"  >
                            <i class="fa-solid fa-print"></i>
                           </a>
          
                           <a href="" class="btn btn-sm text-white btn_print" 
                                       id="pdf" style="background-color:  rgb(86, 86, 85);">
                                       <i class="fa-solid fa-file-pdf"></i></a>
          
                                      <label for="file-upload" class="btn text-white border-0"
                                      style="background-color: rgb(210, 132, 30);">
                                      <i class="fas fa-upload text-white"></i> Upload File
                                  </label>
                                  <input id="file-upload" type="file" name="file" style="display:none;">
                     
                  </div>
                  
                  <a href="{% url 'del_recur' product.id %}" class="btn btn-sm text-white" style="background-color:  rgb(86, 86, 85);" 
                  onclick="return confirm('Do you want to Delete this Invoice?');"><i class="fas fa-trash-alt"></i></a>
              </div>
          </div>

          <div class="mx-2 my-4 p-5 "
              style="background-color: rgba(252, 236, 217, 0.8); height: 600px; overflow-y: scroll;">
              <div class="slip p-5 convert_to_pdf bg-light" id="whatToPrint"
                  style="box-shadow: 5px 5px 10px rgb(45, 45, 45);">
                  <div class="row ">
                      <div class="col-md-6 ">
                          <h2 class="text-dark" style="text-transform: uppercase;">{{comp.company_name}}</h2>
                          <h6 class="text-dark">{{comp.address}}</h6>
                          <h6 class="text-dark">{{comp.city}}<br>Ph: {{comp.contact_number}}<br>Email: {{comp.company_email}}</h6>
                      </div>
                      <div class="col-md-6 text-right">
                          <h1 class="text-dark" style="font-size: 3rem; ">INVOICE {{product.id}}</h1>
                          <h6 class="text-dark">Order Number : {{product.order_num}}</h6>
                      </div>
                  </div>
                  <hr>
                  <div class="row ">
                      <div class="col-md-6 mt-auto">
                          <h6 class="text-dark">Bill To</h6>
                          <h6 class="text-dark">{{product.cname}}</h6>
                      </div>
                      <div class="col-md-6 text-right mt-auto">
                          <h6 class="text-dark ">Order Date :{{product.start}}</h6>
                      </div>
                  </div>
                  <table class="table mt-2" style="border-color: black;">
                      <thead class="bg-secondary text-white">
                          <tr>
                            <th style="width: 30rem; color: antiquewhite;">#</th>

                              <th style="width: 30rem; color: antiquewhite;">Item</th>
                              <th class="text-right" style=" color: antiquewhite;">Quantity</th>
                              <th class="text-right"style=" color: antiquewhite;">Rate</th>
                              <th class="text-right"style=" color: antiquewhite;">Amount</th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for i in itemstable %}
                          <tr>
                            <td>{{ forloop.counter }}</td>

                            <td>{{i.iname}}</td>
                            <td>{{i.quantity}}</td>
                            <td>{{i.rate}}</td>
                            <td>{{i.amt}}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                  </table>
                  <table class="table">
                      <tr>

                          <td class="text-right">Sub-Total:</td>
                          <td class="text-right">{{product.sub_total}}</td>
                      </tr>
                      {% if product.cgst != 0 %}
                      <tr>
                          <td class="text-right">CGST:</td>
                          <td class="text-right">{{product.cgst}}</td> {% endif %}
                      </tr>
                      
                      {% if product.sgst != 0 %}
                      <tr>
                          <td class="text-right">SGST:</td>
                          <td class="text-right">{{product.sgst}}</td>
                      </tr>
                      {% endif %}
                      {% if product.igst != 0 %}
                      <tr>

                          <td class="text-right">IGST:</td>
                          <td class="text-right">{{product.igst}}</td>
                      </tr>
                      <!-- {% endif %} -->
                      <!-- {% if estimate.shipping_charge != 0 %} -->
                      <tr>

                          <td class="text-right">Shipping Charge:</td>
                          <td class="text-right">{{product.shipping_charge}}</td>
                      </tr>
                      <!-- {% endif %}
                      {% if estimate.adjustment != 0 %} -->
                      <tr>

                          <td class="text-right">Adjustment:</td>
                          <td class="text-right">{{product.adjustment}}</td>
                      </tr>
                      <!-- {% endif %} -->
                      <tr>

                          <td class="text-right">Total:</td>
                          <td class="text-right">{{product.total}}</td>
                      </tr>

                  </table>


              </div>
              <!-- <button id="generate-pdf">Generate PDF</button> -->

              <h4 class="text-dark pt-5">More Information</h4>
              <h6 class="text-dark">Sales Person: Xyz</h6>
          </div>
      </div>
  </div>








  </section>



</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
<script>
function printSelectedArea() {
 
  var selectedArea = document.getElementById("whatToPrint");
  

  var printWindow = window.open('', 'PrintWindow', 'height=800,width=800');
  

  printWindow.document.write('<html><head><title>Print Selected Area</title></head><body>' + selectedArea.innerHTML + '</body></html>');
  
 
  printWindow.print();
  
  
  printWindow.close();
}

                </script>
<script>
    // Add click event listener to all rows with class "clickable-row"
    const rows = document.querySelectorAll('.clickable-row');
    rows.forEach(row => {
        row.addEventListener('click', () => {
            // Get the URL from the "data-href" attribute
            const url = row.getAttribute('data-href');
            // Navigate to the URL
            window.location.href = url;
        });
    });
</script>

<script>

    function print() {
        var content = document.getElementById("whatToPrint");
        var printWindow = window.open('', 'PrintWindow');
        printWindow.document.write('<html><head><title>Print Selected Area</title></head><body>' + content + '</body></html>');
        printWindow.print();
        printWindow.close();


    }




    // function saveAsPDF() {
    //     const element = document.getElementById("whatToPrint");
    //     const opt = {
    //         margin: 1,
    //         filename: "estimate.pdf",
    //         image: { type: "jpeg", quality: 0.98 },
    //         html2canvas: { scale: 2 },
    //         jsPDF: { unit: "in", format: "letter", orientation: "portrait" },
    //         output: "save", // this option tells html2pdf to save the file instead of downloading it
    //         outputParam: "D:/sumi/Altos/zoho_django (1)/zoho_django/media/image/estimate.pdf" // this is the path where the file will be saved
    //     };
    //     html2pdf().set(opt).from(element).save();
    // }

    // function ConvertToPDF() {
    //     var doc = new jsPDF();
    //     var HTMLelement = $(".convert_to_pdf").html();
    //     doc.fromHTML(HTMLelement, 10, 10, {
    //         'width': 190
    //     });
    //     doc.save('estimateslip.pdf');
    // }


</script>
<script>
    function openFilePicker() {
        const input = document.createElement('input');
        input.type = 'file';
        input.accept = '.pdf'; // set the file type filter to only allow PDF files
        input.addEventListener('change', () => {
            const file = input.files[0];
            // send the selected file to the server via AJAX
            const formData = new FormData();
            formData.append('file', file);
            $.ajax({
                url: '/send_email/',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    alert('File uploaded successfully');
                },
                error: function (xhr, status, error) {
                    alert('Error uploading file: ' + error);
                }
            });
        });
        input.click();
    }


    $(document).ready(function() {
       var $rows = $('#searching td');
       $('#search').keyup(function() {
         var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
         $rows.show().filter(function() {
           var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
           return !~text.indexOf(val);
         }).hide();
       });
     });
   
   
   $('.dropdown-toggle').dropdown();
   
</script>



{% endblock %}