{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<style>
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .d-flex {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust the spacing between the input and button */
}
</style>
<!-- <div class="fixed-top  " style="top: 7rem; margin-left: 20rem;"> -->

<section id="estimates_section">

  <h1 class="p-3">All Purchase Bills</h1>
  <div class="row ">
    

    <div class="col-md-4 py-3 d-flex align-items-center">
      <input type="text" class="form-control text-dark bg-white" id="search" placeholder="search...">
      
      <a class="btn text-center px-4 pt-2 btn-outline-warning" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
      role="button" ><i class="fa fa-filter"></i>
      </a>
      <div class="dropdown-menu ">
          <a class="dropdown-item">All</a>
          <a class="dropdown-item">Bill No:</a>
          <a class="dropdown-item">Vendor A-Z</a>
          <a class="dropdown-item">Customer Z-A</a>
      </div>
    </div>

    

    <div class="col-md-6 py-2 d-flex justify-content-end">
      <select id="selectOption" class="btn btn-outline-warning dropdown-toggle "
              aria-label=".form-select-lg example"  name="type">
              <option value="" selected>All</option>
              <option value="Save">Save</option>
              <option value="Draft">Draft</option>
      </select>
  </div>
  <div class="col-md-2 py-3">
    <a href="{% url 'new_bill' %}" class="btn btn-outline-warning py-2" style="width: 120px;" ><i class="fa-solid fa-plus "> New</i></a>
  </div>


    

    <!-- <div class="col-md-2 form-inline justify-content-left py-3">
      <a style="color: white; background-color: rgb(210, 132, 30);" class="btn " href="{% url 'new_bill' %}" 
      style="width: 30%; margin-top: 8px;"><i class="fa-solid fa-plus "></i>New</a>
      
    </div> -->
  </div>

  <div class="col-sm-12 mt-4" >
    <table id="estimates-table" class="table  text-white text-center">
      <thead>
        <tr>
          <th>DATE</th>
          <th>BILL NUMBER</th>
          <th>CUSTOMER NAME</th>
          <th>VENDOR NAME</th>
          <th>STATUS</th>
          <th>AMOUNT</th>
          <th>BALANCE</th>
          <th>ACTION</th>
        </tr>
      </thead>
      <tbody id="myTable">
       
      </tbody>


    </table>
  </div>
</section>



</div>


<script>
  // Add click event listener to all rows with class "clickable-row"
  const rows = document.querySelectorAll('.clickable-row');
  rows.forEach(row => {
    row.addEventListener('click', () => {
      // Get the URL from the "data-href" attribute
      const url = row.getAttribute('data-href');
      // Navigate to the URL
      window.location.href = url;
    });
  });
</script>

<script>
  $(document).ready(function () {
    $("#search").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>

<script>
  $(document).ready(function() {
      $('#selectOption').change(function() {
          var selectedValue = $(this).val();
          
          if (selectedValue === "1") {
              window.location.href = "{% url 'view_bills' %}";
          } else if (selectedValue === "2") {
              window.location.href = "{% url 'customerAtoZ_bills' %}";
          } else if (selectedValue === "3") {
              window.location.href = "{% url 'vendorAtoZ_bills' %}";
          }
      });
  });
</script>

<script> 
    $(document).ready(function ($) {
        
        TableDataBind()
    });

    function TableDataBind(){
      debugger
    var bills = '{{bills}}'; 
    var str = bills.replace(new RegExp("&"+"#"+"x27;", "g"), '"');
    var jsonObj = $.parseJSON(str);

    $("#myTable").empty();
         $.each(jsonObj, function (index, data) {
            var newRow = $("<tr>");
            newRow.append("<td>"+data.bill_date+"</td>");
            newRow.append("<td>"+data.bill_no+"</td>");
            newRow.append("<td>"+data.customer_name+"</td>");
            newRow.append("<td>"+data.vendor_name+"</td>");
            newRow.append("<td>"+data.status+"</td>");
            newRow.append("<td>"+data.total+"</td>");
            newRow.append("<td></td>");
            newRow.append(`<td><a href='/delete_purchase_bill/${data.id}'><i class='fas fa-trash text-danger text-center'></i></a></td>`);

            $("#myTable").append(newRow);
         })



    }

</script>

{% endblock %}